<main>
    <div class="show-body">
        <div class="flash">
            <%= flash[:success_create] %>
            <%= flash[:success_update] %>
        </div>
        <p class="show-text"><strong>Title: </strong><%= @book.title %></p>
        <p class="show-text"><strong>Body: </strong><%= @book.body %></p>
    </div>

    <span class="move"><%= link_to "Edit", edit_book_path(@book.id) %> | <%= link_to "Back", books_path %></span>
</main>
